<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>

    <span><%= link_to 'Bookers', root_path %></span>

      <nav>


        <% if user_signed_in? %>
          <ul>
            <li>
              <%= link_to user_path(current_user.id) do %>
                <i class="fas fa-home">Home</i>
              <% end %>
            </li>
            <li>
              <%= link_to users_path do %>
                <i class="fas fa-users">Users</i>
              <% end %>
            </li>
            <li>
              <%= link_to books_path do %>
                <i class="fas fa-book-open">Books</i>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fas fa-sign-out-alt">logout</i>
              <% end %>
            </li>
          </ul>
        <% else %>
          <ul>
            <li>
              <%= link_to root_path do %>
                <i class="fas fa-home">Home</i>
              <% end %>
            </li>
            <li>
              <%= link_to homes_about_path do %>
                <i class="fas fa-link">About</i>
              <% end %>
            </li>
            <li>
              <%= link_to new_user_registration_path do %>
                <i class="fas fa-user-plus">sign up</i>
              <% end %>
            </li>
            <li>
              <%= link_to new_user_session_path do %>
                <i class="fas fa-sign-in-alt">login</i>
              <% end %>
            </li>
          </ul>
        <% end %>
      </nav>
    <% if flash[:notice] %>
      <p><%= flash[:notice] %></p>
    <% end %>

    </header>

    <%= yield %>

  </body>
</html>
